
.p-3{
    background-color: #3C3431;
}
.nav-item .nav-link {
    color: #FDF4E3;
}
.nav .nav-link {
    color: #E1C391;
}
.nav .nav-link:hover {
    color: #ae7922;
}


.nav-search{
    display: flex;
    height: 40px;
    margin-left: 100px;
}

.select{
    padding-left: 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 11px;
    color:rgb(86, 85, 85);
    background-color: #E6E6E6;
    /* background-color: rgba(235, 235, 235, 0.868); */
}
.Search-bar:hover{
    background-color: #ecdfc5;
}
.Search-bar{
    width: 250px;
    font-size: 15px;
    padding-left: 10px;
    background-color: #FDF4E3;
}
.search-logo{
    background-color: black;
    color: #FDF4E3;
    width: 35px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px;
    margin-right: 350px;
}
.search-logo:hover{
    background-color:#705446;
}
.select {
    background-color: black;
    height: 40px;
    margin-top: 1px;
  }




body {
	background-color: #e5e5e5;
}
.checkbox-container {
	padding: 18px;
	border: 1px solid #e5e5e5;
	background-color: white;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 450px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 100px;
}
.heading {
	margin-inline: 0;
	margin-block: 6px;
}
.checkbox-group {
	border: 1px solid #e5e5e5;
	padding: 10px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 6px;
    background-color: #E1C391;
}

.checkbox-group.checked {
	background-color: #0d6efd;
	box-shadow: rgba(13, 110, 253, 0.25) 0px 8px 24px;
}

input[type="checkbox"] {
	visibility: hidden;
}

input[type="checkbox"] ~ label {
	position: relative;
}

input[type="checkbox"] ~ label:before {
	content: "";
	position: absolute;
	border: 1px solid #e5e5e5;
	height: 14px;
	font-size: 12px;
	aspect-ratio: 1;
	top: 0;
	left: -26px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}

input[type="checkbox"]:checked ~ label {
	color: #ffffff;
}

input[type="checkbox"]:checked ~ label:before {
	content: "✔";
	color: #0d6efd;
}





  






  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  .ToDoList{
    margin-top: 100px;
    margin-left: 300px;
  }


  .box{
    display: inline-block;
    height:75%;
    width: 25%;
    margin: 20px;
    margin-right: 50px;
    background-image: radial-gradient(#FDF4E3,#e2b361);
    box-shadow: rgba(89, 67, 6, 0.25) 0px 8px 24px;
    text-align: center;
    padding: 10px;
  }
  .box1{
    border-radius: 10%;
  }
  .box2{
    border-radius: 10%;
  }

  .TaskBox{
    font-size:80px;
    color: #705446;
  }




.table{
    display: flex;
    justify-content: center;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 50px;
}
  th, td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  th {
    background-color: #E1C391;
    width: 100px;
  }

  td {
     background-color: #FDF4E3;
  }

  td:hover {
    background-color: #e6e6e6;
  }

.table_top{
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 200px;
    height: 50px;
    color: #3C3431;
    text-align: center;
    padding-top: 10px;
}