*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;  
    background-color: #0F1111;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;   
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
    border-radius: 2px;
    margin-left: 11px;
}

.border:hover{
    border: 1.5px solid white;
}

/*box2*/
.nav-address{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding-left: 9px;
    padding-right: 9px;
}
.p1{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 16px;
}
.p2{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 4px;
    font-weight: bold;
}
.icon{
    display: flex;
}

/*box3*/
.nav-search{
    margin-top: 15px;
    display: flex;
    height: 40px;
}
.nav-search:hover{
    border: 1.5px solid orange;
    border-radius: 9px;
}
.select{
    padding-left: 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 11px;
    color:rgb(86, 85, 85);
    background-color: #E6E6E6;
    /* background-color: rgba(235, 235, 235, 0.868); */
}
.select:hover{
    background-color: #bcb9b9;
}
.Search-bar{
    width: 976px;
    font-size: 15px;
    padding-left: 10px;
}
.search-logo{
    background-color: rgb(242, 189, 90);
    color: #0F1111;
    width: 20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px;
}
.search-logo:hover{
    background-color: rgb(232, 166, 45);
}

/*box4*/
.lang{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flag{
    height: 25%;
    width: 60%;  
    margin-top: 20px;
}
.en{
    margin-top: 5px;
    padding: 10px;
    font-weight: bold;
}

/*box5*/
.acc{
    margin-top: 10px;
    margin-bottom: 10px;
}
.up{

    font-size: small;
}
.down{
    font-weight: bold;
}

/*box6*/
.cart{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    padding-top: 5px;
}
.cart-logo{
    font-size: 30px; 
}
.cart-written{
    padding-left: 5px;
    padding-top: 10px;
}






.panel{
    display: flex;
    height: 40px;
    background-color: #232F3E;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13.5px;
}
.panel-all{
    padding: 10px;
    font-weight: bold;
}
.panel-ops p{
    width: 70%;
    display: inline;
    padding: 10px;
}
.panel-ops{
    width: 90%;
}







.hero-section{
    background-image: url(hero.jpg);
    height: 400px;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-para{
    height: 20px;
    width: 87%;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 100px;
}
.hero-para a{
    color: blue;  
}








#slider {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: relative;
    
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    background: #fff;
    position: relative;
    z-index: 1;
   
 }
 /* @keyframes slider {
    0% {
        transform: translateX(0);
      }
      20% {
        transform: translateX(-200%);
      }
      40% {
        transform: translateX(-200%);
      }
} */

 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
    
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-size:cover;
    animation: 10s slider infinite;
 }
 #slides .slide_1 {
    background-image: url(hero.jpg);
 }
 #slides .slide_2 {
    background-image: url(hero2.jpg);
 }
 #slides .slide_3 {
    background-image: url(hero3.jpg);
 }
 #slides .slide_4 {
    background-image: url(hero4.jpg);
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 5px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
    
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(/Users/ambin04748/Desktop/project/hero.jpg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(/Users/ambin04748/Desktop/project/lang.png) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }















.shop-corner{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(214, 211, 211);
    justify-content:space-evenly;
}
.box{
    height: 440px;
    width: 370px;
    padding-left:30px;
    padding-top: 10px;
    background-color: white;
    margin: 10px;
}
.box p{
    color: blue;
    margin-top: 25px;
}
.img{
    margin-top: 10px;
    background-size:cover;
    height:330px;
    width:340px;
}
.img1{
    background-image: url(gaming.jpeg);   
}
.img2{
    background-image: url(toys.jpg);     
}
.img3{
    background-image: url(electronics.jpeg);    
}
.img4{
    background-image: url(home.jpg);   
}
.img5{
    background-image: url(personalCare.jpg);   
}
.img6{
    background-image: url(beauty.jpg);     
}
.img7{
    background-image: url(fashion.webp);    
}
.img8{
    background-image: url(phone.jpeg);   
}





.button{
    color: rgb(232, 200, 85);
    text-align: center;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.extra2{
    text-align: center;
    font-size:medium;
    padding-top: 10px;
}
.extra1{
    margin-top: -15px;
    font-size:smaller;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.extra1 a{
    color: blue;
}








.foot-top{
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: smaller;   
}
.foot-top:hover{
    background-color: #2e3b4b;
}
.foot-panel{
    padding: 40px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
   
}
ul a{
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
    color: #DDDDDD;
}
ul p{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 14px;
    color: #FFFFFF;
}
.panel3{
    margin-top: 0.5px;
    background-color: #232F3E;
    height: 48px;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.fbox{
    color: white;
    padding: 15px;
    border: 1px solid rgb(138, 136, 136);
    border-radius: 7px;
    margin-right: 15px;
    font-size: small;
}








.panel-4{
    background-color: #131A22;
    color: white;
   font-size: smaller;
   padding: 10px;
}
.pages{
    text-align: center;
}
.copy{
    text-align: center;
}